* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #080808;
    color: #fff;
}

.right-image {
    float: right;
    margin-left: 15px;
    margin-top: -137px;
    opacity: 0;
    transform: translateY(20px) scale(0.7);
    animation: fadeInAndBounce 1.5s ease-in-out forwards;
}

@keyframes fadeInAndBounce {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.7);
    }

    50% {
        opacity: 0.7;
        transform: translateY(0) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* ----------------Adding Whatsapp icon-------------------- */
#whatsapp .wtsapp {
    position: fixed;
    transform: all 0.5s ease;
    background-color: #25d366;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border-left: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 25px;
    right: 25px;
    border: 0;
    z-index: 9999;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

#whatsapp .wtsapp::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

#whatsapp .wtsapp:focus {
    border: none;
    outline: none;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

/* -------------------Adding Social media icons in Home Page---------------------------- */
.social-media-icons {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 2rem;
    z-index: 3;
    transition: transform 0.5s;
    animation: fadeInAndBounce 1.5s ease-in-out forwards;

}

.line-space {
    line-height: 1.6;
}

.social-media-icons a {
    color: #037cc2;
}

.social-media-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.line-light {
    height: 10rem;
    width: 2px;
    background-color: #ff004f;
}

@keyframes fadeInAndBounce {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.7);
    }

    50% {
        opacity: 0.7;
        transform: translateY(0) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


#header {
    width: 100%;
    height: 100vh;
    background-image: url(iamge/Front\ page\ background\ image.jpg);
    background-size: cover;
    background-position: center;
}

.explorebutton {
    width: 70px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #037cc2;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: transparent;
    /* transition: 0.5s; */
    margin-top: 50px;
}

.fa-download {
    font-size: 200%;
}

#dwl-button {
    font-size: 200%;
}

.explorebutton:hover {
    background-color: #009688;
    color: #fff;
    border: none;
    transition: 0.5s;
}

.explorebutton::before {
    content: "";
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* transition: 0.5s; */
}


.homepage {
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: bold;
    color: #51b5ef;
    font-size: 20px;
    line-height: 1.5;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 30px;
    margin-top: 10px;
}

.header-text h1 span {
    color: #ff004f;
}

/*----------about---------*/
#about {
    padding: 80px 0;
    height: 750px;
    background-color: #b6b6b6;
    color: #454545;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    font-size: calc(1rem + 0.2vw);
    justify-content: space-evenly;
}

.sub-title {
    font-size: 50px;
    font-weight: 500;
    color: #ff004f;
}

.tab-titles {
    display: flex;
    margin: 8px;
    position: relative;
}

.tab-links {
    margin-right: 50px;
    font-size: 21px;
    font-weight: 1000;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px;
    padding: 3px;
}

.tab-contents ul li span {
    color: #d72a5f;
    font-size: 18px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* <!---------------------services------------------- ---> */
#services {
    padding: 30px 0;
    background-color: #b6b6b6;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    color: #fff;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

p.content {
    line-height: 1.7;
}

.services-list div p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: bold;
}

.services-list div:hover {
    background: #eb5151;
    transform: translateY(-10px);
}

/* ----------------portfolio---- --------------- */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    color: #00ff91;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer p {
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    line-height: 1.7;
    font-size: medium;
}

.layer h3 {
    font-weight: 900;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #000000;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* -----------contact--------------- */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #005e94;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 2%;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 30px;
    color: #ddc9c9;
}

.copyright i {
    color: #ff004f;
}

#msg {
    color: #61b752;
    margin-top: -10px;
    display: block;
}

/* -----------------Scrollbar Button----------------- */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22ef);
    border-radius: 10px;
}